@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
}

ul, ol{
    list-style: none;
}

header{
    display: flex;
    background-color:#C28CAE;
    color: white;
    padding: 1rem 2.5rem;
    justify-content: space-between;
    align-items: center;
}

.header-image-container{
    width: 8rem;
    background-color: white;
    border-radius: 100%;
}

.header-image-container img{
    width: 100%;
}

header form{
    width: 45%;
}

header form input{
    width: 80%;
    padding: 0.5rem 1rem;
    border: none;
    transition: 200ms;
    border: 1px solid rgba(220, 20, 60, 0);
    border-radius: 100vw 0 0 100vw;
    font-style: arial;
}

header form input:focus{
    border: none;
    outline: none;
    font-weight: bold;
}

header form button{
    border: 1px solid rgb(255, 255, 255);
    background-color: white;
    color: black;
    border-radius: 0 100vw 100vw 0;
    padding: 0.5rem 1rem;
    transition: 200ms;
    font-style: italic;
    font-weight: 500;
}

header form button:hover{
    border: none;
    background-color: #7F556E;
    color: white;
}

header ul{
    display: flex;
    gap: 2rem;
}

header ul li{
    transition: 200ms;
    font-style: italic;
}

header ul li:hover{
    transform: scale(1.2);
    cursor: pointer;
}

.genders-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem;
    gap: 3rem;
}

.gender-card{
    display: flex;
    background-color: #C28CAE;
    color: white;
    justify-content: space-between;
    border-radius: 10px;
    transition: 200ms;
}

.gender-card:hover{
    background-color: white;
    color:black;
    transform: translateY(-10px);
    -webkit-box-shadow: 28px 25px 0px -6px #C28CAE;
    -moz-box-shadow: 28px 25px 0px -6px #C28CAE;
    box-shadow: 28px 25px 0px -6px #C28CAE;
}

.info-gender-card{
    display: flex;
    gap: 2rem;
    padding: 2rem;
    align-items: center;
}

.text-container {
    display: flex;
    flex-direction: column; 
    gap: 2rem; 
    max-width: 60%; 
    text-align: justify;
}


.button-fn {
    border: 1px solid transparent;
    background-color: white; 
    color: #C28CAE; 
    border-radius: 20px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer; 
    transition: 200ms;
    align-self: flex-start; 
}

.button-fn:hover {
    background-color: #C28CAE; 
    color: white;
}

.image-gender-container{
    width: 35%;
}

.image-gender-container img{
    width: 100%;
    border-radius: 10px;
}

.cards-container{
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2rem;
}

.card_analistas, .card_diplomaticos, .card_centinelas, .card_exploradores{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    width: 20rem;
    padding: 2rem 2rem;
    border-radius: 10px;
    box-sizing: border-box;
}

.card_analistas{
    background-color: #624763;
}

.card_diplomaticos{
    background-color: #138A36;
}

.card_centinelas{
    background-color: #0B7189;
}

.card_exploradores{
    background-color: #FAA300;
}


.card-image-container{
    width: 90%;
}

.card-image-container img{
    width: 100%;
    border-radius: 5px;
}

.card-info h1{
    font-size: 30px;
    font-style: arial;
    text-align: center;
    margin-bottom: 1rem; 
    margin-top: 0.5rem
}

.card-info p{
    font-size: 20px;
    font-weight: 200;
    text-align: justify;
}

.card-info{
    width: 80%;
}


.card_analistas button, .card_diplomaticos button, .card_centinelas button, .card_exploradores button{  
    border: 1px solid rgba(255, 255, 255, 0);
    background-color: white;
    color: black;
    border-radius: 100vw;
    padding: 0.5rem 1rem;
    transition: 200ms;
    font-style: italic;
    font-weight: 500;
    margin-top: auto; 
    align-self: flex-end;
}

.card_analistas button:hover{
    border: 1px solid rgba(255, 255, 255, 0);
    background-color:  #2C0E37;
    color:white;
}

.card_diplomaticos button:hover{
    border: 1px solid rgba(255, 255, 255, 0);
    background-color:  #093824;
    color:white;
}

.card_centinelas button:hover{
    border: 1px solid rgba(255, 255, 255, 0);
    background-color: #273469;
    color: white;
}

.card_exploradores button:hover{
    border: 1px solid rgba(255, 255, 255, 0);
    background-color: #E28413;
    color: white;
}

footer{
    background-color: #F08D34;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 4rem;
}

.footer-logo-container{
    width: 5rem;
    background-color: white;
    border-radius: 100%;
    border: #7F556E;
}

.footer-logo-container img{
    width: 100%;
}

.links-containers{
    display: flex;
    font-weight: bold;
    gap: 3.5rem;
}

.links-containers li:hover{
    text-decoration: underline;
    cursor: pointer;
}

.logos-container{
    display: flex;
    gap: 3.5rem;
}

.logos-container li{
    width: 4rem;
}

.logos-container img{
    filter: invert(100);
    width: 100%;
    transition: 200ms;
}

.logos-container img:hover{
    transform: scale(1.3);
}